

.logo-nav img {
    max-width: 200px;
    height: auto;
    margin-top: 20px;
}

.container-fluid .first-row {
    position: relative;
}

.icon-nav i {
    position: absolute;
    right: 20px;
    top: 28px;
    font-size: 28px;
    vertical-align: middle;
    color: dodgerblue;
}

.ta-list {
    padding-top: 30px;
}

.ta-list a {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: rgb(0, 0, 92);
}

.ta-list a:hover, a:active {
    text-decoration: none;
    color: dodgerblue;
