

.logo-nav img {
    max-width: 200px;
    height: auto;
    margin-top: 20px;
}

.container-fluid .first-row {
    position: relative;
}

.icon-nav i {
    position: absolute;
    right: 20px;
    top: 28px;
    font-size: 28px;
    vertical-align: middle;
    color: dodgerblue;
}
